# Base de datos Oracle Cloud
ORACLE_TNS_NAME=fleetmanager_high
ORACLE_WALLET_PATH=/wallet
ORACLE_USUARIO=FLEETMANAGER
ORACLE_CLAVE=tu_clave_db_aqui
ORACLE_ESQUEMA=FLEETMANAGER

# Azure B2C
AZURE_B2C_TENANT=nombre_de_tu_tenant
AZURE_CLIENT_ID=tu_azure_client_id

# Azure Service Bus
AZURE_BUS_SERVICIO_CONEXION=Endpoint=sb://tu-namespace.servicebus.windows.net/;SharedAccessKeyName=...

# URL frontend (producción)
URL_FRONTEND=https://fleetmanager.azurecontainerapps.io
